

	<div class= col-xs-12 col-md-6>
		<%= image_tag "Batman2.jpg", :alt => "pages/batman", :title => "Batman"%>
	</div>
		<div class= col-xs-12 col-md-6>
			<%= image_tag "s.jpg", :alt => "pages/superman", :title => "Superman"%>
	
		</div>